<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
       <title>{% block title %}Alex Ortigosa Web{% endblock %}</title>



       {% block customcss %}
           <link href="https://fonts.googleapis.com/css?family=Oranienbaum" rel="stylesheet">
           <link rel="stylesheet" href="{{ asset('assets/normalize.css') }}"/>

           <link rel="stylesheet" href="{{ asset('assets/boots/css/bootstrap.css') }}"/>
           <link rel="stylesheet" href="{{ asset('assets/boots/css/bootstrap-theme.css') }}"/>
           <link rel="stylesheet" href="{{ asset('assets/global.css') }}"/>
       {% endblock %}
    </head>
            
    <body>
        <div id="page" class="container-fluid">
            <div id="header" class="row container-fluid">
                <div class="row ">
                    <div class="logoImage col-xs-12 col-sm-12 col-md-2 col-lg-2">
                        <div class="center-block">
                            <img src="{{ asset('assets/img/header/aolog.png') }}" class="img-responsive" alt="Responsive image"/>
                        </div>
                    </div>
                    <div class="menuContent col-xs-12 col-sm-12 col-md-10 col-lg-10">
                        <div class="center-block">
                            <ul class="nav nav-pills" role="navigation">
                                <li role="presentation"><a id="buttonhome" href="{{ url('alex_static_pages_homepage')}}">Home</a></li>
                                <li role="presentation" class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                        {% trans from "trans"%}Servicios{% endtrans %} <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li role="presentation"><a id="buttoncommerce" href="{{ url('alex_static_pages_ecomerce')}}">E-commerce</a></li>
                                        <li role="presentation"><a id="buttonmedida" href="{{ url('alex_static_pages_medida')}}">A medida</a></li>
                                        <li role="presentation"><a id="buttonintegracion" href="{{ url('alex_static_pages_integration')}}">Integración de sistemas</a></li>
                                    </ul>
                                </li>
                                <li role="presentation"><a href="#">Contacta</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="headerbottom" class="row">
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                        <!--<ol class="breadcrumb">
                            {% for breadcrumb in breadcrumbs %}
                                <li><a href="{% if breadcrumb[1] != "#" %}{{ url(breadcrumb[1]) }}{% else %}#{% endif %}"></a>{{ breadcrumb[0] }}</li>
                            {% endfor %}
                        </ol>
                        -->
                    </div>
                    {% block slider %}

                    {% endblock %}
                </div>
            </div>
            <div id="content" class="row container-fluid">
                <div id="colum_left" class="col-sm-1 col-md-1 col-lg-1">
                </div>
                <div id="center_column" class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                    <div class="row">
                            {% block contenido %}
                            {% endblock %}
                    </div>
                </div>
                <div id="colum_right" class="col-sm-1 col-md-1 col-lg-1">

                </div>
            </div>
            <div id="footer" class="row container-fluid">
                <div id="foot_col_left" class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <iframe id="mapsiframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2994.4475622407467!2d2.072895415382243!3d41.36435990538533!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a49967b8061e63%3A0x45d47aaabacd85ac!2sCarrer+de+Josep+Feliu+i+Codina%2C+3%2C+08940+Cornell%C3%A0+de+Llobregat%2C+Barcelona!5e0!3m2!1ses!2ses!4v1473678536983" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div id="foot_col_right" class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Dirección</h4>
                                            <p>Calle Feliu i Codina,3</p>
                                            <p>Cornella de Llobregat</p>
                                            <p>Barcelona, 08940</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Correo</h4>
                                            <p>alexandre.ortigosa@gmail.com</p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Teléfono</h4>
                                            <p>+34 638 41 99 29</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block customjs %}
            <script type="text/javascript" src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/jquery/dist/jquery.slim.min.js') }}"></script>

            <script type="text/javascript" src="{{ asset('assets/boots/js/bootstrap.js') }}"></script>
       {% endblock %}

    </body>
</html>
