<ul class="nav navbar-nav">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <li>
            <a href="">
        {% trans from "trans" %}Hola{% endtrans %} {{ app.user.username }}
            </a>
        </li>
        <li>
            <a href="{{ path('alex_static_pages_qr') }}">
                {% trans from "trans" %}MyQR{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('alex_static_pages_tweet_list') }}">
                {% trans from "trans" %}tweets{% endtrans %}
            </a>
        </li>

        <li>

            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        </li>
    {% else %}
        <li>
            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>

        </li>
    {% endif %}
</ul>
{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}