
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <li>
            <a href="{{ path('alex_static_pages_servicios') }}">Servicios</a>
        </li>
        <li>
            <a href="">
        {% trans from "trans" %}Hola{% endtrans %} {{ app.user.username }}
            </a>
        </li>
        <li>

            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        </li>
    {% else %}
        <li>
            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>

        </li>
        <li><a href="{{ path('fos_user_registration_register')}}">REGISTRO</a></li>
    {% endif %}

