{% extends 'base.html.twig' %}
{% block title %} Alex Ortigosa Web - Sorteos {% endblock %}
{% block customcss %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/ecom.css') }}"/>
{% endblock %}
{% block contenido %}
    <div class="row">
        <div class="page-header">
            <h1>Sorteos <small style="color: #2ed2d2;"> Gana tu consumición gratis</small></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            {% if sorteos is defined %}
                {% for sorteo in sorteos %}
                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <h2>Sorteo de fecha <span class="small" style="color:black;">{{ sorteo.fechaInicio|date('Y-m-d') }}</span> </h2>
                        {% if consumiciones is defined %}
                            <ul class="list-group">
                                <li class="list-group-item">fecha {{ sorteo.fechaInicio|date('Y-m-d') }}</li>
                            {% for user in consumiciones[sorteo.id]%}
                                <li class="list-group-item">{{ user.username }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}

        </div>

    </div>

{% endblock %}
{% block customjs %}
    {{ parent() }}
    <script>
        function goToGraph(){
            $('#myTabs li:eq(1) a').tab('show');
        }
        function euqalHeightintabs(){
            var maxHeight=0;
            $("#myTabs .tab-pane").each(function () {
                var tabHeight=$(this).height();
                if(tabHeight>maxHeight)
                    maxHeight=tabHeight;
            });
            $("#myTabs .tab-pane").each(function () {
                $(this).height(maxHeight);
            });

        }
    </script>
{% endblock %}
{% block jsready %}
    euqalHeightintabs();
    selectedMenuSer("buttonservice");
{% endblock %}