{% extends 'base.html.twig' %}
{% block title %} Alex Ortigosa Web - Sorteos {% endblock %}
{% block customcss %}
    {{ parent() }}
{% endblock %}
{% block contenido %}

<div class="row">
    <div class="box">
        <div class="col-lg-12">

            <h1>Sorteos <small> Gana tu consumición gratis</small></h1>
            <div class="row">
            {% if sorteos is defined %}
                {% for sorteo in sorteos %}
                    <div class="col-md-6 col-lg-6">
                        <h2>Sorteo de fecha <span class="small" style="color:black;">{{ sorteo.fechaInicio|date('Y-m-d') }}</span> </h2>
                        {% if consumiciones is defined %}
                            <ul class="list-group">
                            {% for key,value in consumiciones[sorteo.id]%}

                                <li class="list-group-item">@{{ key }} <span class="badge">{{ value }} Participaciones</span></li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </div>
</div>



{% endblock %}
{% block customjs %}
    {{ parent() }}
    <script>

    </script>
{% endblock %}
{% block jsready %}
    selectedMenuSer("buttonSorteo");
{% endblock %}