{% extends 'base.html.twig' %}
{% block title %} Alex Ortigosa Web - A medida {% endblock %}
{% block contenido %}
	<div class="row">
		<div class="page-header">
			<h1>Programación a medida <small style="color: #2ed2d2;">Plasmamos tu idea</small></h1>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="panel panel-primary">
				<!--<div class="panel-heading">
					<h2 class="panel-title text-center" >Servicios</h2>
				</div>-->
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
							<a href="{{ url("alex_static_pages_ecomerce") }}">
								<div class="thumbnail infoblock">
									<img class="serviceimage" src="{{ asset('assets/img/infoblock/ecommerce.jpg') }}" alt="...">
									<div class="caption">
										<h3>E-commerce</h3>
										<p class="text-justify">Pon tus productos en linea casi sin esfuerzo. Unete al mercado online y adelantate a tus competidores. Con los sistemas <strong>E-commerce</strong> podras crear una nueva linea de venta para tus productos o servicios. Aprobecha el crecimiento del mercado online y no dejes escapar esta oportunidad. <br/><br/>Analizamos tus necesidades y te ofreceremos lo que mejor se adapte a las características de tu negocio.</p>
										<!--<p><a href="#" class="btn btn-primary" role="button">Ver más</a></p>-->
									</div>
								</div>
							</a>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
							<div class="thumbnail infoblock">
								<img class="serviceimage" src="{{ asset('assets/img/infoblock/integracion.jpg') }}" alt="...">
								<div class="caption">
									<h3>Integrando sistemas</h3>
									<p class="text-justify">Usted dispone de un ERP ya implantado? No se preocupe. Integramos todos sus procesos de negocio entre un sistema E-commerce y su ERP. Tanto si vende a empresas o a cliente final. Integramos toda la información de su ERP en el sistema E-commerce. Productos, precios, clientes, direcciones...<br/><br/>Minimice sus costes de gestión y reciba todos sus pedidos automáticamente. Gestione desde sus sitema principal su nueva plataforma de venta online.</p>
									<!--<p><a href="#" class="btn btn-primary" role="button">Ver más</a></p>-->
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
							<div class="thumbnail infoblock">
								<img class="serviceimage" src="{{ asset('assets/img/infoblock/amedida.jpg') }}" alt="...">
								<div class="caption">
									<h3>Programación a medida</h3>
									<p class="text-justify">Has tenido una idea? Si es una idea innovadora seguro que no se adapta a nada de lo que haya ya hecho. No te preocupes, ven a contarnos que es lo que quieres y nosotros los haremos posible. Nuestro equipo de profesionales tiene experiencia en el diseño, desarroyo y testeo de sistemas completos. Si quieres un se lo de garantía este es tu sitio. Los mejores profesionales provenientes de las mejores universidades.</p>
									<!--<p><a href="#" class="btn btn-primary" role="button">Ver más</a> </p>-->
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
							<div class="thumbnail infoblock">
								<img class="serviceimage" src="{{ asset('assets/img/infoblock/tec.jpg') }}" alt="...">
								<div class="caption">
									<h3>Paginas Estáticas</h3>
									<p class="text-justify">Si necesitas una <strong>Web informativa</strong> este es tu sitio. Te asesoramos sobre que sistema es mas conveniente para tu negocio. Te la diseñamos a medida si es necesario. También te formaremos para que seas totalmente autosuficiente a la hora de realizarle algún cambio si te interesa.<br/><br/>No seas el último en aparecer en internet y quedandote sin esos clientes tan deseados.</p>
									<!--<p><a href="#" class="btn btn-primary" role="button">Ver más</a></p>-->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}