{% extends 'base.html.twig' %}
{% block title %} Alex Ortigosa Web - Contacto {% endblock %}
{% block customcss %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/contacto.css') }}"/>
{% endblock %}
{% block customjs %}
    {{ parent() }}
{% endblock %}
{% block contenido %}
    <div class="row">
        <div class="page-header">
            <h1>Contacta <small style="color: #2ed2d2;">con nosotros</small></h1>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}